@import "../../../../__shared/styles/vars.scss";

.path{
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;

    &--container{
        padding-bottom: 30px;
        background: $backgroud-primary-color;
        background: linear-gradient(180deg, rgba($color: $backgroud-primary-color, $alpha: 1) 40%, rgba($color: $backgroud-primary-color, $alpha: 0) 100%);

        position: -webkit-sticky;
        position: sticky;
        top: 100px;

        z-index: 1;
   }

    &__button{
        border: none;
        background: none;
        font-size: $font-size-p;
        font-weight: 500;
        color: #a9a9a9;
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
            margin: 0 5px 0 5px;
            height: 100%;
            font-size: $font-size-p;
        }

        &:last-child{
            color: $text-primary;
            font-weight: 600;
        }
    }

}