.fileItem{
    height: 55px;
    border-bottom: 1px solid rgb(219, 219, 219);
    border-top: 1px solid rgb(219, 219, 219);
    width: 100%;

    display: flex;
    align-items: center;
}

.fileItem__link{
    height: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(85, 78, 78);
}

.fileItem > div{
    display: flex;
    align-items: center;
}

.fileItem > div > *{
    margin: 10px;
}

.fileItem--left{
    flex: 1;
}

.fileItem_star{
    background: none;
    border: none;
    cursor: pointer;
}