.fileItem__name{
    height: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(85, 78, 78);
}

.fileItem__icon, .fileItem__delete, .fileItem__star{
    background: none;
    border: none;
    cursor: pointer;

    padding: 0;
}


.fileItem{
    height: 55px;
    border-bottom: 1px solid rgb(219, 219, 219);
    border-top: 1px solid rgb(219, 219, 219);
    width: 100%;

    display: grid;
    justify-items: start;
    align-items: center;
    grid-template: "fileItem__icon fileItem_star fileItem__name fileItem__date fileItem__size fileItem__delete" auto
                    /auto;
    grid-template-columns: 5% 5% 65% 10% 10% 5%;
}

.fileItem__name{
    background: none;
    border: none;
    cursor: pointer;

    color: rgb(85, 78, 78);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 16px;

    display: flex;
    align-items: center;
}
