.newFile {
    display: flex;
    align-items: center;

    width: 200px;
}

.newFile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 32px 6px 8px;
    background-color: #0492c2;
    color: #fff;
    cursor: pointer;

    width: 100%;
}

.newFile_container>p{
    margin-left: 14px;
}

.newFile_container .MuiSvgIcon-root{
    color: #fff;
}