.newFile {
    display: flex;
    align-items: center;

    width: 75%;
}

.newFile__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 30px;
    background-color: #0492c2;
    color: #fff;
    cursor: pointer;

    width: 100%;
}

.newFile__container:hover{
    /* background-color: #0079a2; */
    transform: scale(1.1);
    transition: transform .5s ease-in-out;
}

.newFile__container>p{
    width: 70%;
    text-align: center;
}

.newFile__container .MuiSvgIcon-root{
    color: #fff !important;
    margin-right: auto;
}