.fileView{
    width: 80%;
    margin: 50px 0 0 0;
}

.fileView_row{
    height: 250px;
    display: flex;
    align-items: flex-start;
}

.filesView__titles{
    display: grid;
    grid-template: "p p p" auto;
    grid-template-columns: 70% 15% 15%;

    margin-bottom: 5px;
    color: rgb(85, 78, 78);
}

.filesView__lastmodified{
    justify-self: center;
    text-align: center;
}
.no-files{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(85, 78, 78, 0.5);
}