@import "./__shared/styles/vars.scss";

* {
    box-sizing: border-box;
}
  
body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: scroll;
  overflow-x: hidden;
}
  

.container{
    padding: 0 50px;
}

button{
    background: none;
    border: none;
    cursor: pointer;

    padding: 0;
}